<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Add Employee</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Add New Employee</h1>

        <form method="POST">

            <label>Employee Name</label>

            <input
                type="text"
                name="name"
                placeholder="Enter employee name"
                required
            >

            <label>Role</label>

            <input
                type="text"
                name="role"
                placeholder="Enter employee role"
                required
            >

            <label>Department</label>

            <input
                type="text"
                name="department"
                placeholder="Enter department"
                required
            >

            <button type="submit">
                Add Employee
            </button>

        </form>

        <br>

        <a href="/">Back to Home</a>

    </div>

</body>

</html>