<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Management</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Employee Management System</h1>

        <p class="subtitle">
            Python Flask CI/CD Practice Application
        </p>

        <a class="button" href="/add">
            Add Employee
        </a>

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Department</th>
                </tr>
            </thead>

            <tbody>

                {% for employee in employees %}

                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.role }}</td>
                    <td>{{ employee.department }}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

        <div class="health">
            <a href="/health">Check Application Health</a>
        </div>

    </div>

</body>

</html>